<!DOCTYPE html>
<html>
<head>
  <title>PhysiotecV3</title>
  <%= stylesheet_link_tag    "confirmation", :media => "all" %>
  <%= javascript_include_tag "confirmation" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
